<%- include('header'); -%>
<h1><%= title %></h1>
<form method="post" class="needs-validation" novalidate>
  <div class="mb-3">
    <label for="lastNameInput" class="form-label">last Name</label>
    <input
      type="text"
      name="lastName"
      required
      minlength="3"
      placeholder="Dupont"
      id="lastNameInput"
      class="form-control"
    />
    <div class="invalid-feedback">last Name is required</div>
  </div>
  <div class="mb-3">
    <label for="firstNameInput" class="form-label">first Name</label>
    <input
      type="text"
      name="firstName"
      required
      minlength="3"
      placeholder="Roger"
      id="firstNameInput"
      class="form-control"
    />
    <div class="invalid-feedback">first Name is required</div>
  </div>
  <div class="mb-3">
    <label for="birthDateInput" class="form-label">birth Date</label>
    <input
      type="date"
      name="birthDate"
      required
      placeholder="1990-01-01"
      id="birthDaysInput"
      class="form-control"
    />
    <div class="invalid-feedback">Birth Date is required</div>
  </div>
  <div class="mb-3">
    <label for="phoneNumber" class="form-label">Phones Numbers</label>
    <input
      type="number"
      name="phoneNumber"
      minlength="10"
      id="phoneNumber"
      class="form-control"
    />
    <div class="invalid-feedback">A phoneNumber is required</div>
  </div>
  <div class="mb-3">
    <label for="emailAddress" class="form-label">emailAddress</label>
    <input
      type="email"
      name="emailAddress"
      id="emailAddress"
      class="form-control"
    />
    <div class="invalid-feedback">A emailAddress is required</div>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Create</button>
    <a href="/phones" class="btn btn-outline-secondary">Cancel</a>
  </div>
</form>
<script src="/scripts/form-validation.js"></script>
</div>
<%- include('footer') %>
